body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  
ul {
    display: block;
    margin: 0 auto;
    background-color: #d65500;
    color: white;
    list-style: none;
    padding: 20px;
    max-width: 200px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    font-family: monospace;
    position: fixed;
    top: 100px;
    right: 100px;
  }
  
button2 {
    color: #d65500;
    font-family: monospace;
    border-radius: 10%;
    font-size: 20px;
    padding: 2px;
    padding-right: 0px;
    cursor: pointer;
  }
  
button3 {
    color: #d65500;
    font-family: monospace;
    border-radius: 10%;
    font-size: 20px;
    padding: 2px;
    padding-left: 0px;
    cursor: pointer;
  }
  
form {
    max-width: 700px;
    margin: 0 auto;
    display: block;
    background-color: #ffe8bc;
    border: 1px solid #d65500;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
  }
  
button4 {
    color: #d65500;
    font-family: monospace;
    border-radius: 10%;
    font-size: 10px;
    padding: 12px;
    cursor: pointer;
    border: 1px solid #d65500;
    display: block;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    position: fixed;
    top: 230px;
    right: 130px;
  }
  
p2 {
    display: block;
    margin: 0 auto;
    color: black;
    list-style: none;
    padding: 20px;
    max-width: 200px;
    text-align: center;
    border-radius: 20px;
    font-family: monospace;
    position: fixed;
    top: 300px;
    right: 100px;
  }
span {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 75px;
  }
  
h2 {
    max-width: 700px;
    margin: 0 auto;
    background-color: #ffe8bc;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #d65500;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    font-size: 10px;
  }
  
.today {
    max-width: 700px;
    margin: 0 auto;
    background-color: #ffe8bc;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 150px;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    border: 1px solid #d65500;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  }
  
.week {
  max-width: 700px;
  margin: 0 auto;
  background-color: #ffe8bc;
  text-align: center;
  padding: 50px;
  margin-top: 9px;
  border-radius: 20px;
  margin-bottom: 300px;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  border: 1px solid #d65500;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  }

.hourupdate {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  color: black;;

}


  .description {
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
  }
.emoji {
    font-size: 28px;
  }
  
.currentLocationTest {
    font-size: 28px;
    text-align: center;
    color: black;
  }

.icon2 {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
}  

 

footer {
    font-family: "Courier New", Courier, monospace;
    color: gray;
    text-align: left;
}